p {
    margin-right:500px
}

 body {
    background-color: black;
 }

p {
    color: #09fa05;
    margin-right:px
} 
h2 {
    color: #fa0505;
    margin-right: 130px;
}
a{
    color: #05fabd;
}
h1{
    justify-content: center;
    color: aliceblue;
    align-items: center;
    display: flex;
    
}